<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <h3>This is Profile Page</h3>
    <h4>Hi my name is <%=user.name%></h4>
    <h4>Hi my email is <%=user.email%></h4>
</body>
</html>